

.alert {
  position: relative;
  padding: 9px 15px 9px 15px;
  background: #eeeeee;
  border-radius: 20px;
}

.alert-blue {
  background: #c5e7ff;
  color: #1479d9;
}

.alert-green {
  background: #c3ffd9;
  color: #0bb468;
}

.alert-violet {
  background: #d5ceff;
  color: #7725d9;
}

.alert-orange {
  background: #ffe4a8;
  color: #d97b1d;
}

.alert-red {
  background: #ffaebe;
  color: #d90026;
}

.alert-apple {
  background: #d6ffa3;
  color: #7ba445;
}

.alert-dark {
  background: #6f6f6f;
  color: #ffffff;
}