.btn {
  border-radius: $round-radius;
  padding: 10px 16px 10px 16px;
  border: none;
  margin: 4px;
  display: inline-block;
  font-size: 12px;
  color: $font-light;
  cursor: pointer;
  outline: 0;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  transition: box-shadow 0.150s;

  &:focus, &.focus {
    outline: 0 !important;
  }
}

// Generate all flat versions
@each $color, $value in $main-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

// Generate all colors versions
@each $color, $value in $main-gd-colors {
  .btn-gd-#{$color} {
    @include button-variant(nth($value, 1), nth($value, 2));
  }
}

// todo
.btn2 {
  border-radius: 50px;
  padding: 8px 14px 8px 14px;
  margin: 10px;
  font-size: 12px;
  color: #ff4957;
  cursor: pointer;
  border: solid #ff4957 2px;
  background: transparent;
}