.form-control {
  padding: 9px 15px 9px 15px;
  border-radius: $round-radius;
  font-size: 12px;
  border: 2px solid #dbdbdb;

  transition: box-shadow 0.150s, border 0.150s;

  outline: none;

  &:hover {
    border: 2px solid #bababa;
  }

  &:focus {
    border: 2px solid #54b4ff;
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  }
}