/**

  Axiom UI
  Typography

 */

a {
  text-decoration: none;
}

html {
  line-height: 1.5;
  font-size: $font-size-base;
  font-family: $font-stack;
  font-weight: normal;
  color: $maintext;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: $headings-margin-bottom;
  line-height: $headings-line-height;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

.bold {
  font-weight: 600;
}

.bold-heavy {
  font-weight: 800;
}