/**

  Axiom UI
  Typography

 */

body {
  font-family: $font-stack;
  @include font-size-multiplier($font-size-base);
  font-weight: $font-weight-base;
}

// TODO: a mettre autre part
.dark {
  color: $font-light;
  background-color: #1a1a1a;
}

.light {
  color: $font-dark;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: $headings-margin-bottom;
  line-height: $headings-line-height;
}

h1, .h1 {
  @include font-size-multiplier($h1-font-size);
}
h2, .h2 {
  @include font-size-multiplier($h2-font-size);
}
h3, .h3 {
  @include font-size-multiplier($h3-font-size);
}
h4, .h4 {
  @include font-size-multiplier($h4-font-size);
}
h5, .h5 {
  @include font-size-multiplier($h5-font-size);
}
h6, .h6 {
  @include font-size-multiplier($h6-font-size);
}

.bold {
  font-weight: 600;
}

.bold-heavy {
  font-weight: 800;
}

