/**

  Axiom UI
  Typography

 */

a {
  text-decoration: none;
}

html {
  line-height: 1.5;
  font-size: 14px;

  font-family: $font-stack;
  font-weight: normal;
  color: $maintext;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
}