$maintext: #151515;
$fond: #ffffff;

body {
  margin: 0;
  background-color: $fond;
}

h1 {
  color: $maintext;
}

hr {
  border: 0;
  border-top: 1px solid #cecdcd;

  // Margins
  margin-top: 10px;
  margin-bottom: 10px;
}

$round-radius: 20px; // todo ajuster

/**
    Colors -------------------------------------------------------------------------------------------------------------
 */

$blue: #0656f1 !default;
$indigo: #3230f1 !default;
$purple: #9521e2 !default;
$pink: #e2336e !default;
$red: #dc2d37 !default;
$orange: #f17c35 !default;
$yellow: #ffc915 !default;
$green: #1da739 !default;
$teal: #22c9a4 !default;
$cyan: #03a3e2 !default;

$primary: $blue !default;
$secondary: $blue !default; // todo
$success: $green !default; // todo
$info: $purple !default; // todo
$warning: $yellow !default; // todo
$danger: $red !default; // todo

// Fonts colors
$font-light: #ffffff !default;
$font-dark: #292929 !default;

$main-colors: () !default;
$main-colors: map-merge(
                (
                        "primary": $primary,
                        "secondary": $secondary,
                        "danger": $red,
                        "warning": $warning,
                        "success": $success,
                        "info": $info,
                ),
                $main-colors
);

$main-font-colors: () !default;
$main-font-colors: map-merge(
                (
                        "primary": $font-light,
                        "secondary": $font-light,
                        "danger": $font-light,
                        "warning": $font-light,
                        "success": $font-light,
                        "info": $font-light,
                        "ghost": $font-dark, //todo
                ),
                $main-font-colors
);

// Gradients
$gd-red: linear-gradient(135deg, $orange 0%, $pink 100%), $orange;
$gd-purple: linear-gradient(135deg, $purple 0%, $indigo 100%), $purple;
$gd-blue: linear-gradient(135deg, $cyan 0%, $blue 100%), $cyan;
$gd-green: linear-gradient(135deg, $teal 0%, $green 100%), $teal;
$gd-orange: linear-gradient(135deg, $yellow 0%, $orange 100%), $yellow;

$gd-primary: $gd-blue;
$gd-secondary: $gd-blue; // todo
$gd-success: $gd-green;
$gd-info: $gd-purple;
$gd-warning: $gd-orange;
$gd-danger: $gd-red;

$main-gd-colors: () !default;
$main-gd-colors: map-merge(
                (
                        "primary": $gd-primary,
                        "secondary": $gd-secondary,
                        "success": $gd-success,
                        "info": $gd-info,
                        "warning": $gd-warning,
                        "danger": $gd-danger,
                ),
                $main-gd-colors
);


/**
  Grid breakpoints -----------------------------------------------------------------------------------------------------
 */

$grid-breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge(
                (
                        xs: 0,
                        sm: 576px,
                        md: 768px,
                        lg: 992px,
                        xl: 1200px
                ),
                $grid-breakpoints
);


/**
  Spacing --------------------------------------------------------------------------------------------------------------
 */

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
                (
                        0: 0,
                        1: ($spacer * .25),
                        2: ($spacer * .5),
                        3: $spacer,
                        4: ($spacer * 1.5),
                        5: ($spacer * 3)
                ),
                $spacers
);


/**
  Typo -----------------------------------------------------------------------------------------------------------------
 */

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$paragraph-margin-bottom: 1rem !default;

$headings-margin-bottom: ($spacer / 2) !default;
$headings-line-height: 1.2 !default;

$font-size-base: 0.9rem !default; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 3 !default;
$h2-font-size: $font-size-base * 2.4 !default;
$h3-font-size: $font-size-base * 2 !default;
$h4-font-size: $font-size-base * 1.8 !default;
$h5-font-size: $font-size-base * 1.6 !default;
$h6-font-size: $font-size-base * 1.3 !default;